* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@media(min-width:1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}

body {
  font-family: "Lato", serif;
}
.bg-color {
  background: #233a95;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.logoWrapper img {
  height: 60px;
}
.header .container .row {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header .container {
  padding: 0;
  margin: 0;
  width: 100%;
}
.header {
  padding: 10px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px;
  border-radius: 10px;
}
.header .headerSearch input {
  background: transparent;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 80%;
  border: none;
  flex: 1;
}
.header .headerSearch button {
  height: 50px;
  width: 6%;
  border: none;
  margin-left: auto;
}
.header .headerSearch button svg {
  font-size: 22px;
}
.header .user .circle {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  right: 15px;
  top: 15px;
  border: 1px rgba(0, 0, 0, 0.8) !important ;
}
.header .user .circle svg {
  font-size: 28px;
}
.header .cartTab .cart svg {
  font-size: 28px;
}
.header .cartTab .cart {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  right: 15px;
  top: 15px;
  border: 1px rgba(0, 0, 0, 0.8) !important ;
}

nav .allCatTab{background: #2bbef9; padding: 8px 20px !important; border-radius: 30px !important;}
nav .allCatTab *{color: #fff;}
nav .allCatTab:hover{background: #0634ff;}
nav .allCatTab .text{font-weight: 600; }

nav .allCatTab .icon1 svg{font-size:20px !important; }
nav .allCatTab .icon2 svg{font-size:15px !important; }

nav .navPart2 ul{margin-bottom:0px;}
nav .navPart2 ul li a{font-size: 15px; font-weight: 600; text-decoration: none; 
    color: rgba(0,0,0,0.8); text-transform: uppercase;
display: flex; align-items:center; padding: 10px 20px; transition: all 0.2s ease-in-out;}

nav .navPart2 ul li a svg{font-size:20px;}

nav .navPart2 ul li a:hover{background: #f0faff; color:#2bbef9;}